# Copy to .env (git-ignored) and fill in real values.
# The catalogue only references these NAMES — never the values.
# If the repository ever leaks, no licence key leaks with it.

ELEMENTOR_PRO_LICENSE=replace-with-your-elementor-pro-key
SEOPRESS_PRO_LICENSE=replace-with-your-seopress-pro-key
